/*
Author: Amy Allen
Author URI: http://amyallen.ca
*/

$white : #FFF;
$black : #000;
$turq : #00E1DB;
$darkturq : #00aea9;

@import 'reset';
@import 'global';
@import 'header';
@import 'type';

@import 'home';
@import 'about';
@import 'contact';

@import 'portfolio';
@import 'blog';
@import 'comments';

@import 'sidebar';
@import 'footer';
@import 'navigation';

@import 'mq';