/*
Author: Amy Allen
Author URI: http://amyallen.ca
*/
/* =============================================================================
                   Normalize, border box and clearfix 
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

img {
  height: auto;
  max-width: 100%;
}

/* Global Classes / Wordpress Specific */
.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  padding-right: 5px;
}

img.alignright {
  padding-left: 5px;
}

.clear {
  width: 100%;
  float: left;
  clear: both;
}

.section {
  padding-top: 78px;
}

.innerWrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 40px;
}

.left {
  float: left;
  width: 65%;
}

.full {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

blockquote {
  background: #F7F7F7;
  margin: 0;
  padding: 20px;
}

blockquote p {
  margin-top: 0;
}

table td {
  padding: 10px;
}

table tr td:first {
  padding-right: 0;
}

dt {
  font-weight: 600;
  padding-bottom: 5px;
}

dd {
  padding: 10px;
  margin-left: 10px;
}

ul li, ol li {
  padding: 7px 0px;
  line-height: 1.5;
  display: list-item;
}

ol, ul {
  padding-left: 25px;
}

pre {
  background: #F7F7F7;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

img.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

body {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #00e1db;
  text-decoration: none;
  transition: color .25s ease;
  line-height: 1.25;
}
a:hover {
  color: #00aea9;
}

.header {
  padding: 15px 0 5px 0;
  background: black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 99;
}

.logo {
  width: 200px;
}

ul.menu {
  display: inline;
  float: right;
  margin-top: 15px;
}
ul.menu li {
  display: inline;
  padding: 0;
}
ul.menu li a {
  color: white;
  margin-left: 21px;
  transition: color 0.3s ease;
  font-size: 16px;
  font-weight: 400;
}
ul.menu li a:hover {
  color: #00e1db;
}

a.dropDown {
  display: none;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 18px;
  right: 30px;
}
a.dropDown:hover {
  color: #00e1db;
}

h1.siteName {
  display: inline;
}

h1.siteName a {
  display: inline;
  color: white;
}

h2 {
  font-size: 85px;
  font-weight: 200;
  margin: 0 0 10px -8px;
  letter-spacing: -6px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

h3 {
  font-size: 35px;
  margin: 40px 0 0 0;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  margin: 15px 0 0 0;
  font-size: 22px;
  padding-bottom: 5px;
}

h5 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
}

h6 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.25;
}

.entry-content h2 {
  font-weight: 600;
  font-size: 30px;
}

h3.entry-title {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: 200;
}

p.description {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.profile {
  background: #00e1db;
  margin: 0;
}

.laptopHoriz {
  display: none;
}

.siteHeading {
  width: 42%;
  margin: 0 0 50px 0;
  float: left;
}

.profile h3 {
  margin: 0;
}

img.laptop {
  float: right;
  margin-top: -320px;
  max-width: 50%;
  z-index: -10;
}

.profileB {
  margin-top: 10px;
  clear: both;
}

img.amp {
  float: left;
  margin-top: -50px;
  max-width: 50%;
}

.skills {
  max-width: 48%;
  float: right;
}
.skills h6 {
  float: left;
  margin: 5px 0 0 0;
  color: white;
  font-weight: 400;
}
.skills .skillText {
  clear: both;
  margin-bottom: 25px;
  line-height: 1.4;
}

.icon {
  width: 35px;
  height: 35px;
  float: left;
  margin: 0  10px 10px -4px;
}

.about {
  background-color: #eaeaea;
  background-image: url("i/amy_bg.jpg");
  background-size: 33%;
  background-repeat: no-repeat;
  background-position: 80% 100%;
}

.about h3 {
  margin-top: 0;
}

.aboutText {
  float: left;
  max-width: 55%;
}

img.amy {
  position: absolute;
  bottom: 0;
  right: 15%;
}

img.amyMq {
  display: none;
}

.contact {
  background: black;
  clear: both;
}
.contact h3 {
  color: #00e1db;
  margin-top: 0;
}

p.action {
  color: #00e1db;
  margin: 0;
}

.smLink a {
  color: white;
  transition: color 0.3s ease;
}
.smLink a:hover {
  color: #00e1db;
}

.contactParent {
  margin-top: 25px;
}

.group {
  border-bottom: 1px solid white;
  margin: 0 2% 20px 0;
  padding-bottom: 10px;
  float: left;
  width: 32%;
  font-size: 16px;
  line-height: 1.25;
}
.group:nth-child(3n+3) {
  margin: 0 0 20px 0;
}

.mainContent {
  margin-top: 25px;
  width: 100%;
}

.page-title {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: 200;
  margin-top: 0;
}

.portfolioPosts {
  float: left;
  margin-right: 1.5%;
  margin-bottom: 1%;
  width: 48.5%;
}
.portfolioPosts:nth-child(2n+2) {
  margin-right: 0;
}
.portfolioPosts img {
  width: auto;
  height: auto;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.portfolioPosts:hover .short {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.short {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  padding: 20px;
  opacity: 0;
}
.short h5 {
  margin: 0 0 5px 0;
}

p.short {
  color: #555;
  font-size: 16px;
}

a.siteLink {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 10px;
  display: block;
}

ul.customTaxList {
  list-style-type: none;
  margin-left: 0;
  width: 100%;
  padding-left: 0;
}
ul.customTaxList li {
  border-bottom: 1px solid #00e1db;
  float: left;
  display: inline-block;
  width: 32%;
  margin-right: 2%;
}
ul.customTaxList li:nth-child(3n+3) {
  margin-right: 0;
}

.details {
  margin: 35px 0;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  clear: both;
}

.taxes {
  width: 33%;
  float: right;
  font-size: 14px;
  border-top: 1px solid black;
}

.left h3.projectTitle {
  margin-top: 5px;
}

.credit {
  font-size: 14px;
  margin: 0;
}

div.flexslider {
  box-shadow: none;
  border: 0;
}
div.flexslider a:before {
  font-size: 30px;
}
div.flexslider figure img {
  margin-bottom: 10px;
  box-shadow: none;
}
div.flexslider .flex-control-nav {
  bottom: 0;
  text-align: left;
}

figure figcaption {
  font-size: 14px;
}

.blogcontent {
  width: 65%;
  float: left;
  padding-top: 45px;
}

.article {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.posted {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.singlePostContent ol {
  margin: 0;
}
.singlePostContent p:first-child:first-letter {
  float: left;
  font-size: 85px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 4px;
  font-weight: 400;
  color: #00e1db;
}

footer {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.entry-utility {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 50px;
}

.left {
  height: auto;
}

#comments form input[type="text"] {
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
}
#comments form input[type="text"]:focus {
  border-bottom: 1px solid #00e1db;
}

ol.commentlist {
  padding-left: 0;
}

input[type="submit"] {
  background: black;
  color: white;
  border: 0;
  padding: 10px 15px;
  border: 1px solid white;
  transition: background 0.5s ease;
}
input[type="submit"]:hover {
  background: #00e1db;
  color: black;
}
input[type="submit"]:focus {
  outline: none;
}

label[for="comment"] {
  margin-top: 20px;
  display: block;
}

p.comment-notes {
  font-size: 14px;
}

.comment-respond {
  border-top: 1px solid black;
  padding-top: 20px;
  margin-top: 10px;
}

#comments .navigation {
  padding: 0 0 18px;
}

h3#comments-title, h3#reply-title {
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

h3#comments-title {
  padding: 24px 0;
}

.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  position: relative;
  clear: both;
  margin: 0 0 24px;
  padding: 0 0 0 56px;
}

.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
  margin-bottom: 18px;
}

#comments .comment-body p:last-child {
  margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px;
}

.commentlist ol {
  list-style: decimal;
}

.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}

.comment-author cite {
  color: black;
  font-style: normal;
  font-weight: 700;
}

.comment-author .says {
  font-style: italic;
}

.comment-meta {
  font-size: 12px;
  margin: 0 0 5px;
}

.comment-meta a:link, .comment-meta a:visited {
  color: #888888;
  text-decoration: none;
}

.reply {
  font-size: 12px;
  padding: 0 0 24px;
}

.reply a, a.comment-edit-link {
  color: #888888;
}

.commentlist .children li {
  border: none;
  margin: 0;
}

#comments .pingback {
  margin: 0 0 18px 0;
  padding-bottom: 18px;
}

.commentlist li.comment + li.pingback {
  margin-top: -6px;
}

#comments .pingback p {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0;
}

#comments .pingback .url {
  font-style: italic;
  font-size: 13px;
}

input[type=submit]
#respond {
  margin-top: 24px;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  position: relative;
}

#respond .comment-notes {
  margin-bottom: 1em;
}

.form-allowed-tags {
  line-height: 1em;
}

.children #respond {
  margin: 0 48px 0 0;
}

h3#reply-title {
  margin: 18px 0;
}

#comments-list #respond {
  margin: 0 0 18px;
}

#cancel-comment-reply-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#respond .required {
  color: #ff4b33;
  font-weight: 700;
}

#respond label {
  color: black;
  font-size: 16px;
}

#respond input {
  width: 98%;
  margin: 0 0 9px;
}

#respond textarea {
  width: 98%;
}

#respond dt, #respond dd {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}

textarea {
  margin-top: 5px;
  resize: none;
  padding: 10px;
}
textarea:focus {
  outline: none;
  border: 1px solid #00e1db;
}

#respond dd code {
  font-size: 11px;
}

#respond .form-submit {
  margin: 20px 0 24px;
}

#respond .form-submit input {
  width: auto;
  font-size: 14px;
}

#respond dl {
  margin: 0 0 10px;
}

#respond dt {
  display: inline;
  font-weight: 400;
}

#respond dd {
  display: inline;
}

p.form-allowed-tags, .nocomments {
  display: none;
}

.commentlist, .commentlist .children {
  list-style: none;
  margin: 0;
}

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
  color: #ff4b33;
}

#respond p, #comments-list ul #respond {
  margin: 0;
}

.sidebar {
  max-width: 32%;
  float: left;
  margin: 45px 0 50px 3%;
  border-top: 5px solid black;
}
.sidebar a {
  color: #00aea9;
}
.sidebar a:hover {
  color: black;
}
.sidebar h3.widget-title {
  font-size: 20px;
  margin: 0;
  padding-top: 0px;
}

.twHead {
  padding: 0 5px;
}
.twHead h3 {
  margin-top: 0;
  font-size: 25px;
}

.twitter {
  background: rgba(0, 225, 219, 0.1);
  padding: 15px 10px;
  margin-bottom: 40px;
}
.twitter .tweet {
  font-size: 14px;
  margin: 0;
  padding: 15px 5px 5px 5px;
}
.twitter .tweet:before {
  content: url("i/twitter_icon_BLK.svg");
  width: 20px;
  height: 20px;
  display: block;
  margin: 0px 5px 5px 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 0;
  display: block;
}

.widget-container iframe {
  max-width: 100%;
}

.entry-time {
  display: none;
}

.widget-container {
  margin: 0 0 10px 0;
  padding-bottom: 20px;
  list-style-type: none;
  background-color: #eee;
  padding: 15px 10px;
}
.widget-container ul li {
  line-height: 1.2;
  border-bottom: 1px solid #00e1db;
  padding: 5px 0;
}
.widget-container ul li:last-child {
  border-bottom: 0;
}
.widget-container ul li a {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

select.postform {
  background: #00e1db;
  height: 50px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}
select.postform:focus {
  outline: 0;
}
select.postform:hover {
  background: black;
  color: white;
}

.footer {
  clear: both;
  background: #00e1db;
  font-weight: 400;
}

.copyright {
  padding: 25px 0;
  margin: 0;
  display: inline-block;
}

.footer ul.menu li a {
  color: black;
}
.footer ul.menu li a:hover {
  color: white;
}

.footer ul {
  margin-top: 25px;
}

.wp-pagenavi {
  float: right;
  margin: 40px 0 20px 0;
}
.wp-pagenavi:before {
  content: "Page";
}
.wp-pagenavi .pages {
  padding: 20px;
}
.wp-pagenavi .current, .wp-pagenavi .larger, .wp-pagenavi .smaller, .wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink {
  padding: 3px;
  width: 35px;
  height: 35px;
  display: inline-block;
  color: black;
  text-align: center;
}
.wp-pagenavi .page.larger {
  padding: 10px;
}
.wp-pagenavi .previouspostslink {
  padding: 10px;
}
.wp-pagenavi .nextpostslink {
  padding: 10px;
}

.navigation {
  margin-top: 10px;
  width: 100%;
}
.navigation p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.navigation .nav-previous {
  float: left;
  width: 40%;
}
.navigation .nav-next {
  float: right;
  width: 40%;
}

.pageNav {
  float: left;
}

.pageNav a {
  padding: 10px 20px;
  display: inline-block;
  margin: 0 0 20px 0;
  background: black;
  color: white;
  font-size: 14px;
  transition: background 0.5s ease;
}
.pageNav a:hover {
  color: white;
  background: #00e1db;
}

.postNav {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: black;
  color: white;
  text-align: center;
  margin-top: 5px;
}
.postNav p {
  padding: 6px 0 0 2px;
}

@media (max-width: 1000px) {
  .profileB {
    margin-top: 50px;
  }

  .siteHeading {
    width: 50%;
  }

  img.laptop {
    margin-top: -250px;
  }

  img.amp {
    margin-top: 5px;
  }

  .aboutText {
    max-width: 55%;
  }

  .about {
    background-size: 43%;
    background-position: 90% 100%;
  }
}
@media (max-width: 960px) {
  h2 {
    font-size: 65px;
    letter-spacing: -1px;
  }

  .siteHeading h5 {
    font-size: 22px;
    width: 75%;
  }

  .group {
    font-size: 15px;
    line-height: 1.25;
  }
  .group .icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 825px) {
  .group {
    width: 48%;
  }
  .group:nth-child(3n+3) {
    margin: 0 2% 20px 0;
  }
  .group:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  .header ul.menu {
    display: inline !important;
  }
}
@media (max-width: 768px) {
  .header ul.menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .header ul.menu li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #00e1db;
    padding: 10px;
  }

  a.dropDown {
    display: block;
  }

  p {
    font-size: 16px;
  }

  img.laptop {
    margin-top: -80px;
    max-width: 45%;
  }

  h2 {
    font-size: 55px;
  }

  img.amp {
    display: none;
  }

  .skills {
    max-width: 100%;
    float: none;
  }
  .skills h6 {
    float: none;
    clear: both;
  }
  .skills .skill {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
  .skills .skill:last-child {
    margin-right: 0;
  }

  .blogcontent {
    width: 100%;
  }

  .left {
    width: 85%;
  }

  div.flexslider {
    margin-bottom: 50px;
  }

  .details .left {
    width: 65%;
  }

  .details {
    margin-top: 0;
  }

  h3.entry-title {
    font-size: 50px;
  }

  .singlePostContent p:first-child:first-letter {
    float: left;
    font-size: 80px;
    padding-top: 7px;
  }

  .sidebar {
    max-width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }

  .twitter {
    width: 66%;
    float: left;
    margin-right: 2%;
  }

  .widget-container {
    float: left;
    width: 32%;
    margin-right: 0%;
    margin: 0 0 16px 0;
  }
}
@media (max-width: 600px) {
  .details .left {
    width: 100%;
    float: none;
  }

  .taxes {
    width: 100%;
    float: none;
  }

  a.siteLink {
    padding-top: 0;
  }
}
@media (max-width: 680px) {
  h2 {
    font-size: 50px;
  }

  .siteHeading h5 {
    font-size: 18px;
    width: 100%;
    line-height: 1.4;
  }

  img.amy {
    display: none;
  }

  img.amyMq {
    display: block;
  }

  .about {
    background-image: none;
  }

  .aboutText {
    max-width: 100%;
  }

  .copyright {
    padding: 20px 0 10px 0;
  }

  .footer ul {
    width: 100%;
    padding: 10px 0 20px 0;
    display: block;
    margin: 0;
  }

  .footer ul.menu li a {
    margin: 0;
  }

  .footer ul.menu li {
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .siteHeading {
    width: 95%;
    z-index: 1;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  .siteHeading h5 {
    max-width: 100%;
  }

  .full {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  h3.page-title, h3.entry-title {
    font-size: 50px;
  }

  .laptopHoriz {
    display: block;
    margin-top: 25px;
  }

  img.laptop {
    display: none;
  }

  img.amp {
    display: none;
  }

  .skills {
    max-width: 100%;
    margin-bottom: 0;
    float: none;
    margin: 5px auto;
    border-top: 1px solid black;
    padding-top: 40px;
  }
  .skills .skill {
    float: none;
    width: 100%;
    margin-right: 0%;
  }

  .group {
    width: 100%;
  }

  .portfolioPosts {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  ul.customTaxList {
    padding-left: 0;
  }
  ul.customTaxList li {
    float: none;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .twitter {
    width: 100%;
  }

  .widget-container {
    width: 100%;
  }

  .left {
    width: 100%;
  }

  h3 {
    font-size: 25px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0;
  }

  h3 a {
    font-size: 25px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0;
  }

  h3.entry-title {
    font-size: 40px;
  }

  h6 {
    font-size: 18px;
  }

  .skillText p {
    margin-top: 0;
  }
  .skillText p:last-child {
    margin-bottom: 0;
  }

  .skill {
    margin-top: 20px;
  }
  .skill:first-child {
    margin-top: 0;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .singlePostContent p:first-child:first-letter {
    float: left;
    font-size: 45px;
    padding-top: 14px;
    line-height: 20px;
  }

  .article {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .about p:last-child {
    margin-bottom: 0;
  }

  .group:last-child {
    margin-bottom: 0;
  }

  p {
    line-height: 1.4;
  }

  .header {
    position: relative;
  }

  .header ul.menu {
    top: 68px;
  }

  .section {
    padding-top: 0;
  }
}
@media (max-width: 325px) {
  .logo {
    width: 150px;
  }

  .innerWrapper {
    padding: 0 30px;
  }

  .full {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .aboutText p:last-child {
    margin-bottom: 0;
  }

  .skills .skillText {
    margin-bottom: 40px;
  }

  .skillText:last-child {
    margin-bottom: 0;
  }

  .profileB {
    margin-top: 35px;
  }

  .siteHeading {
    width: 100%;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 20px;
  }

  .short {
    padding: 15px;
  }
  .short p.description {
    font-size: 12px;
    line-height: 1.5;
  }
}
